<h1 class="text-warning">Pokemon</h1>

<div class="container border border-danger">
    <div class="row border border-warning">
        <div class="col border boder-primary">
            <p style="display: inline;"></p><input type="search" class="form-control d-inline mr-2 w-75 p-3" [(ngModel)]="busqueda" placeholder="buscar por nombre">
        </div>
        <div class="col border boder-primary">
            
        </div>
    </div>
    <div class="row border border-warning">
        <div class="col border boder-primary">
            <h3>Pokemons</h3>
            <ul class="list-group">
                <li *ngFor="let p of pokemons" class="list-group-item">
                    <p>{{p.nombre}}</p>
                </li>
            </ul>
        </div>
        <div class="col border boder-primary">detalle</div>
    </div>
</div>